VITE_GTM_ID=<id_gtm>
VITE_SITE_URL=<url_produccion>
VITE_BACKEND_API_HOST=<proyecto/api>
VITE_GEOSERVER_URL=/geoserver/
VITE_BASE_PATH=/

MAPALAB_BACKEND_URL=http://<dominio>/api/
CORS_ALLOWED_ORIGIN=https://<dominio>
