# Copia este archivo segun tu entorno:
#   cp .env.example .env.development  
#   cp .env.example .env.staging      
#   cp .env.example .env.production   

# General
NETWORK_NAME=<name_network>

# Frontend
VITE_PORT=<port>
FRONTEND_PORT=<port>
VITE_BACKEND_API_HOST=<path>
VITE_GEOSERVER_URL=<path>
VITE_BASE_PATH=<path>
VITE_SITE_URL=<http://localhost:<port>|https://dominio>
VITE_NODE_ENV=<development|production>
VITE_APP_ENV=<dev|beta>

GEOSERVER_DEV_TARGET=http://ip:port
BACKEND_DEV_TARGET=http://ip:port


# Backend
ENVIRONMENT=<development|production>
DEBUG=<True|False>
CORS_ORIGINS=["domino,ip"]
LOG_LEVEL=<DEBUG|INFO>
BACKEND_PORT=<port>
BACKEND_TARGET=<development|production>

GEOSERVER_URL=<http://localhost:port/geoserver/|http://ip:port/geoserver/>
GEOSERVER_USER=<YOUR_GEOSERVER_USER>
GEOSERVER_PASSWORD=<YOUR_GEOSERVER_PASSWORD>

DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_HOST=<localhost|ip>
DB_PORT=<port>
DB_NAME=<YOUR_DB_NAME>

ACERVO_PUBLIC_URL=https://<APP_DOMAIN>/path

# Nginx
NGINX_PORT=<port>
