DOMINIO=<dominio-publico-por-el-que-se-entra-al-sitio>
DOMINIO_MINERVA=<dominio-de-minerva>
SITIO=https://${DOMINIO}

ENVIRONMENT=<development|production|testing>
DEBUG=<True|False>
LOG_LEVEL=<DEBUG|INFO|WARNING|ERROR>
CORS_ORIGINS=<["https://dominio"]>

BACKEND_TARGET=<development|production>
BACKEND_DEV_TARGET=<development|production>
GEOSERVER_DEV_TARGET=<development|production>
MARIACHI_DEV_TARGET=<development|production>

FRONTEND_PORT=<port>
BACKEND_PORT=<port>
NGINX_PORT=<port>
VITE_PORT=<port>

DB_USER=<user>
DB_PASSWORD=<password>
DB_HOST=<host>
DB_PORT=<port>
DB_NAME=<name>
DB_POOL_SIZE=<int>
DB_MAX_OVERFLOW=<int>
DB_CONNECT_TIMEOUT_SECONDS=<int>
DB_STATEMENT_TIMEOUT_SECONDS=<int>
GUNICORN_WORKERS=<int>

MCP_WORKERS=<int>
MCP_DB_POOL_SIZE=<int>
MCP_DB_MAX_OVERFLOW=<int>

GEOSERVER_URL=<url>
GEOSERVER_USER=<user>
GEOSERVER_PASSWORD=<password>

ACERVO_PUBLIC_URL=${SITIO}/acervo
ACERVO_ENDPOINT=<http://acervo-seaweedfs:8333>
ACERVO_PUBLIC_ENDPOINT=${SITIO}/acervo
ACERVO_ACCESS_KEY=<key>
ACERVO_SECRET_KEY=<secret>
ACERVO_BUCKET=<bucket>
ACERVO_PRESIGN_TTL_SECONDS=<int>
DOWNLOAD_CACHE_TTL_HOURS=<int>

MARIACHI_BACKEND_URL=<url>
MARIACHI_BACKEND_INTERNAL_URL=<url>
MARIACHI_VERIFY_SSL=<true|false>
MAPALAB_INTERNAL_TOKEN=<token>
MAPALAB_PUBLIC_BASE_URL=${SITIO}
EMBED_KEY_CACHE_TTL_SECONDS=<int>

MINERVA_ISSUER_URL=<url-interna-de-minerva-para-token-y-userinfo, p.ej. http://${DOMINIO_MINERVA}:<puerto>>
MINERVA_PUBLIC_BASE=https://${DOMINIO_MINERVA}
MINERVA_CLIENT_ID=<client-id-de-la-app-mapalab-en-minerva; vacio deja la sesion apagada>
MAPALAB_SESSION_HOURS=<horas-que-dura-la-sesion-del-visor>

CLIENT_ERROR_WINDOW_MINUTES=<int>
CLIENT_ERROR_WARN_COUNT=<int>

EMBED_ABUSE_WINDOW_MINUTES=<int>
EMBED_ABUSE_WARN_COUNT=<int>

ONTOY_DISK_PATH=<ruta-del-filesystem-que-mide-el-sidecar>
ONTOY_NODE=<nodo donde corre, p.ej. S2>
ONTOY_NODE_REPORTER=<true en el reportero del nodo, false en los demas>
ONTOY_PEER_CHECKS=<aristas nodo=host:puerto separadas por coma, o vacia>
DOCKER_GID=<gid del grupo docker del host, getent group docker | cut -d: -f3>

VITE_NODE_ENV=<development|production>
VITE_APP_ENV=<dev|beta|prod>
VITE_BASE_PATH=<path>
VITE_BACKEND_API_HOST=<path>
VITE_GEOSERVER_URL=<path>
VITE_SITE_URL=${SITIO}
VITE_ACERVO_ORIGIN=${SITIO}
VITE_COLIBRI_SOURCE_APP=<app>
VITE_COLIBRI_API_KEY=<key>
VITE_CARTO_API_KEY=<key-de-carto-basemaps>
MAPALAB_NETWORK_NAME=<nombre-de-la-red-docker-del-entorno>
BACKEND_BIND_ADDR=<ip-de-bind-del-backend>
FRONTEND_BIND_ADDR=<ip-de-bind-del-frontend-de-desarrollo>
NGINX_BIND_ADDR=<ip-de-bind-de-nginx>
SECRETS_GID=<gid-del-grupo-dueno-de-secrets>
