__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
*.venv
.venv
.coverage
htmlcov
.mypy_cache
.ruff_cache
.git
.gitignore
*.log
*.md
.env
.env.*
!.env.example
.vscode
.idea
*tmp
mapalab_*_cache.json
tests/
test/
