ENVIRONMENT=development or Production
DEBUG=True or False
CORS_ORIGINS=["*"]
LOG_LEVEL=INFO or DEBUG
GEOSERVER_URL=<YOUR_GEOSERVER_URL>
BACKEND_PORT=<YOUR_BACKEND_PORT>
NETWORK_NAME=<YOUR_NETWORK_NAME>
GEOSERVER_USER=<YOUR_GEOSERVER_USER>
GEOSERVER_PASSWORD=<YOUR_GEOSERVER_PASSWORD>