ENVIRONMENT=development
DEBUG=True
CORS_ORIGINS=["*"]
LOG_LEVEL=INFO
GEOSERVER_URL=<YOUR_GEOSERVER_URL>
BACKEND_PORT=8000
NETWORK_NAME=mapalab-network
GEOSERVER_USER=<YOUR_GEOSERVER_USER>
GEOSERVER_PASSWORD=<YOUR_GEOSERVER_PASSWORD>