ENVIRONMENT=development or Production
DEBUG=True or False
CORS_ORIGINS=["domino_permitido"]
LOG_LEVEL=INFO or DEBUG

BACKEND_PORT=<YOUR_BACKEND_PORT>
NETWORK_NAME=<YOUR_NETWORK_NAME>

GEOSERVER_URL=<YOUR_GEOSERVER_URL>
GEOSERVER_USER=<YOUR_GEOSERVER_USER>
GEOSERVER_PASSWORD=<YOUR_GEOSERVER_PASSWORD>

DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_HOST=<YOUR_DB_HOST>
DB_PORT=<YOUR_DB_PORT>
DB_NAME=<YOUR_DB_NAME>

ACERVO_PUBLIC_URL=https://<APP_DOMAIN>/acervo
