fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
asyncpg
alembic
python-dotenv
coloredlogs
pydantic
pydantic-settings
gunicorn
apscheduler
rich
pytz
sentry-sdk[fastapi]
fastmcp
prometheus-fastapi-instrumentator
boto3
