@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #213547;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Book.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "Garet";
    src: url("/fonts/Garet-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}

@theme {
    --breakpoint-3xl: 120rem;
    --font-garet: "Garet", "sans-serif";
    --font-garet--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-garet--font-variation-settings: "opsz" 32;
    --font-weight-book: 300;
    --color-numeralia:#2e4372;
    --color-purple:#5C2472;
    --color-orange:#FF8300;
}


.scrollbar-thin::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175 / 0.5);
    border-radius: 2px;
}

.scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
    background-color: rgb(107 114 128 / 0.7);
}

.mask-bottom {
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

#qaf-button:hover .qaf {
    background-color: #E3CAF2;
}

#qaf-button.active .qaf {
    background-color: #E3CAF2;
}

#search-input::placeholder{
    color: var(--color-numeralia);
    opacity: 1;
}

#search-input:hover::placeholder {
    color: var(--color-orange);
}